/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

p {
  font-family: 'Old Standard TT', serif;
}

.jumbotron {
  margin-top:20px;
	text-align:center;
  background: url("../images/WorldMap.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  margin-bottom:0px;
}
.jumbotron h1 {
  line-height: .9em;
  font-family: 'Old Standard TT', serif;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  /*text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;*/
  margin-top:10px;
  margin-bottom:10px;
  font-size: 11em;
}

.fa-5x {
  font-size:7em;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: 'Old Standard TT', serif;
}

.nav>li>a {
  font-size:20px;
  padding:25px 15px;
}

.navbar {
  background-color: #353839;
  border-color: grey;
}

.navbar-brand {
  padding:5px 0px;
  height:70px;
}

.navbar-brand img{
  height:100%;
}

footer {
	  background-color: #b31b1b;
  	padding-top: 15px;
  	padding-bottom: 15px;
    font-family: 'Old Standard TT', serif;
    color:white;
}

#get-involved, #about {
	background-color: #f5f5f5;
}



#challenge img, #about img {
  padding-bottom:20px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight:100;
	padding: 0px 50px;
}

ul.nav {
	font-size: 13px;
}

.socialMediaIcons {
  text-align:right;
  padding-top:10px;
}

.btn-lg {
	font-size: 36px;
}

.homepage {
  text-align:center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.homepage h2, .homepage h3, .homepage h1 {
	font-family: 'Old Standard TT', serif;
  color: #b31b1b;
  text-transform: uppercase;
}

.homepage h2 {
	font-size: 45px;
}

.homepage h3 {
  	font-size:23px;
}

.homepage p {
	font-weight:300;
	font-size:20px;
}

.homepage a {
	color: #b31b1b;
}

.homepage a:hover {
	text-decoration: none;
	opacity: .8;
	color: #b31b1b;
}

.homepage hr {
	border-color: #b31b1b;
	width: 220px;
	margin-top: 15px;
  padding-bottom:30px;
}

.col-md-3 {
  padding-left:10px;
  padding-right:10px;
}

.stats {
  color: #b31b1b;
  font-size:55px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
}

#challenge #callToAction {
  color: black;
  font-size:60px;
  font-weight:bold;
}

.statsDiv {
  padding-top:10px;
  padding-bottom:40px;
}

#specialText {
  color: #b31b1b;
}


#about {
  font-family: 'Old Standard TT', serif;
}

#about ul {
  list-style-type:none;
  line-height:1.7em;
  padding-top:20px;
  padding-left:0px;
}

#about h1 {
  font-size:30px;
  font-weight:bold;
}

#about ul, #about p {
  font-size: 22px;
}

#challenge p{
  font-size:26px;
}

#get-involved, #challenge, #about, #progress {
  padding-bottom:40px;
}

#challenge {
  padding-top:40px;
}


.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

#statsText {
  padding-top:20px;
}

#progressStats {
  padding-top:2em;
  font-size:26px;
}

/* Old Chart Styling

.chart { 
  width: 90% 
}
 
.chart li {
  display: block;
  height: 23px;
  margin-top: 3px;
  position: relative;
  text-align:left;
}
 
.chart li:before {
  color: #fff;
  content: attr(title);
  left: 5px;
  position: absolute;
}

.chart li.title:before {
  color: black;
  font-weight: bold;
  left: 0;
}
 
.chart li:first-child { 
  margin-top: 0;
}

.chart li .bar {
  background: #27ae60;
  height: 100%;
  min-width: 164px;
}
 
.chart li .number {
  color: #27ae60;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  position: absolute;
  top: -3px
}
 
.chart li.past .bar { 
  background: #2ecc71 
}
 
.chart li.past .number { 
 color: #2ecc71
}
*/
.chart-horiz .chart {
  width:90%; 
  text-align:left;
  font-family: 'Old Standard TT', serif;;
}
.chart-horiz .chart li {
  display:block;
  height:30px;
  margin-top:3px;
  position:relative
}
.chart-horiz .chart li:before {
  color:white;
  content:attr(title);
  left:5px;
  position:absolute;
  font-size:22px;
  font-weight:bold;
}
.chart-horiz .chart li.title:before {
  color: #353839;
  font-weight: bold;
  left: 0px;
  font-size: 32px;
  bottom: 4px;
  font-family: 'Oswald', sans-serif;
}
.chart-horiz .chart li:first-child {
  margin-top:0;
}
.chart-horiz .chart li .bar {
  background: #727272;
  height:100%;
  min-width:164px;
}
.chart-horiz .chart li .number {
  color:#727272;
  font-size:20px;
  font-weight:bold;
  padding-left:5px;
  position:absolute;
  top:0px;
  left:inherit !important;
}
.chart-horiz .chart li.hotelBar .bar{
  background:#b31b1b;
}
.chart-horiz .chart li.hotelBar .number{
  color:#b31b1b;
}







/* Responsive Tweaks */

@media screen and (min-width: 768px) {
  .jumbotron {
    padding:15px;
  }
}


@media (max-width: 1199px) {
  .jumbotron h1 {
    font-size: 56px;
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .jumbotron h1 {
    font-size: 44px;
  }
  .jumbotron p {
    padding: 0 10px;
  }
  #get-involved .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  
  .navbar-brand img {
    padding-left:10px;
    width:240px;
    height:55px;
    padding-top:5px;
  }

  .jumbotron {
    background: #b31b1b;
    height: 230px;
  }

  .jumbotron h1 {
    font-size: 40px;
    width:100%;
    padding:10px 0px;
  }
  .jumbotron p {
    font-size: 16px;
    padding: 0;
  }
  .btn-lg {
    font-size: 18px;
  }
  .homepage p {
    font-size: 18px;
  }

  .fa-5x {
    visibility: hidden;
  }

  .homepage p, ul {
    padding-top: 10px;
    padding-bottom:25px;
    font-size: 1.3em !important;
  }

  #get-involved .col-md-3 {
    padding-bottom:50px;
  }

  .chart-horiz .chart li.title:before {
    font-size:20px;
  }

  footer h1 {
    font-size: 24px;
    text-align:center;
  }

  .socialMediaIcons {
    text-align:center;
  }

  .homepage h2 {
    font-size: 34px;
  }

  #challenge img, #about img {
    width:80%;
  }
}


